{% load static %}
<!--<!DOCTYPE html>-->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Меню{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
</head>
<body>
<header>
    <h1>Магазин</h1>
    <nav>
        <ul>
            {% block menu %}
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'shop' %}">Магазин</a></li>
            <li><a href="{% url 'cart' %}">Корзина</a></li>
            {% endblock %}
        </ul>
    </nav>
</header>
<div id="content">
    {% block content %}{% endblock %}
</div>
<footer>
    <p>0000</p>
</footer>
</body>
</html>